@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto' , sans-serif;
}
.container{
  background: #fc11f9;
}
.form{
  text-align: center;
}
.input{
  border: 1px solid #ccc;
  padding: 8px 12px;
  margin-right: 15px;
  border-radius: .5rem;
  outline: none;
}
.messages{
  border: 1px solid #ccc;
  padding: 8px 12px;
  margin-right: 15px;
  border-radius: .5rem;
  outline: none;
}
.btn{
  color: #000;
  background: #14bbe9;
  margin-bottom: 10px;
}
