@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}
.container{
    background: white;
}
.form{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}
.input{
    border: none;
    border-bottom: 3px solid #ccc;
    outline: none;
}
.message{
    border: none;
    border-bottom: 3px solid #ccc;
    outline: none;
}
.btn{
    color: black;
    background: rgb(219, 8, 202);
}